  .sectionMain{
    background-image: url("../../../public/bg-footer-mobile.png");
    background-repeat: no-repeat;
    background-position: top center;
  }
.containerMain{
  margin: 3rem;
  border-bottom: 1px solid rgb(129, 118, 175);;
}
.txtInfo{
  display: none;
}
.footerLine{
  display: none;
}
.containerInfos{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
}
.containerHydraLogo{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem 0;
}
.hydraLogo{
  max-width: 9rem;
}
.containerSocials{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.containerSocialize p{
  font-weight: 600;
  color: #ffffffbb;
}
.containerLogos{
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin: 3rem 0;
}
.contentFooter{
  text-align: center;
  margin: 0 2rem 3rem 2rem;
}
.contentFooter p {
  font-family: sans-serif;
}
@media screen and (min-width: 992px) {
  .sectionMain{
    background-image: url("../../../public/bg-footer.png");
    background-repeat: no-repeat;
    background-position: bottom center;
  }
  .containerMain{
    margin: 2rem 4rem;
  }
  .footerLine{
    display: block;
  }
  .txtInfo{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
  }
  .txtInfo p{
    text-align: left;
    color: #ffffffbb;
    font-weight: 600;
  }
  .containerInfos{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    justify-items: center;
    align-items: center;
    margin-bottom: 1rem;
  }

  .containerSocials{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
  }
  .containerLogos{
    margin: 1.5rem;
  }
}